:root {
    --main-background-color: rgb(255, 255, 255);
    --d-d-menu-color: rgb(166, 22, 22);
    --main-button-border-color: rgb(253, 80, 172);
    --main-button-text-color: rgb(255, 0, 136);
    --main-border-color: rgba(236, 178, 216, 0.958);
}

body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    color: #333;
}

.drop-down-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border-bottom: 3px solid var(--main-border-color);
    background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
}

.logo {
    height: 150px;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.drop-down-menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px;
    margin-top: 8;
    list-style: none;
    background-color: transparent;
}

.drop-down {
    padding: 15px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);

}

.drop-down:hover {
    background-color: rgba(183, 0, 97, 0.703);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

.wrapper {
    background-image: url(background-pictures/space-red-blue-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1, header p {
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    flex: 1;
}

.services {
    padding: 20px 0;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2 {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
}

.service-card {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(192, 192, 192, 1), rgba(128, 128, 128, 0.8), rgba(64, 64, 64, 1));
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    transition: transform 0.3s ease-in-out;
}

.service-card h3 {
    margin-bottom: 10px;
    color: #000000;
}

.service-card:hover {
    transform: scale(1.04);
}


.service-card p {
    color: #ffffff;
}

.button-box{
    padding: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
    border-top: 3px solid var(--main-border-color);;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: rgb(53, 54, 53);
    height: 350px;
    border-top: 2px solid var(--main-button-text-color);
    color: white;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.head-info-box-labels {
    display: flex;
    flex-direction: row;
    justify-content:left;
    letter-spacing: 5px;
    color: white;
    text-decoration: overline;
    width: auto;
    position: relative;
}

.info-box-labels {
    margin-top: 30px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-bottom: 3px;
    position: relative;
}

.info-box-buttons {
    padding: 20px;
    background-color: var(--main-button-text-color);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 120px;
    position: relative;
}

.linked-in-container {
    padding-left:20px;
    padding-top:10px;
    padding-bottom:20px;
    background-color: rgb(0, 0, 0);

}

.social-icon {
    font-size: 36px; /* Adjust the size of the icon */
    color: #fff; /* Icon color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Space around the icon */
    border-radius: 50%; /* Rounded background */
    background-color: #0077b5; /* LinkedIn's brand color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.si-linkedin:hover {
    color: #0077b5; /* Change icon color on hover */
    background-color: #fff; /* Change background on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Slightly darker shadow on hover */
}

.si-rounded {
    border-radius: 20%; /* Rounded shape */
}

.si-small {
    font-size: 20px;
    padding-top:4px;
    padding-left:7px;
    padding-bottom:5px;
    padding-right:7px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
}

@media only screen and (min-width: 319px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black -3%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 100%);
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}

@media only screen and (min-width: 344px) and (min-height:882px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black -3%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 100%);
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}
/*Samsung Galaxy S8+*/
@media only screen and (min-width: 360px) and (min-height:666px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 7%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 93%);
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}

/*Iphone SE*/
@media only screen and (min-width: 375px) and (max-height:667px){
    body{
        font-size: 14px;
        font-weight:700;
    }
    .logo {
        height: 50px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
    }
    .drop-down {
        padding: 10px;
    }
    .info-box {
        height: 350px;
    }
    footer {
        font-size: 8px;
        padding: 1px;
    }

}
/*iPhone 14 Pro Max*/
@media only screen and (min-width: 414px) and (min-height:932px){
    body{
        font-size: 16px;
        font-weight:700;
    }
    .logo {
        height: 50px;
    }
    footer {
        font-size: 8px;
        padding: 1px;
    }
}


/*Ipad Mini*/
@media only screen and (min-width: 650px) and (max-height:1179px){
    body{
        font-size: 20px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
}
/*Ipad Air*/
@media only screen and (min-width: 820px) and (min-height: 1180px){
    body{
        font-size: 22px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
}

@media only screen and (min-width: 1024px) and (height: 600px){
    body{
        font-size: 20px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }

}

/*Ipad Air*/
@media only screen and (min-width: 1440px) and (height: 618px){
    body{
        font-size: 23px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 2%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 98%);
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
}

@media only screen and (max-width: 319px) {
    body {
        font-size: 3vw;
    }
    .drop-down{
        padding: 2vw;
    }
    .logo {
        height: 15vw;
    }
}

@media only screen and (min-width: 1500px){
    .drop-down{
        padding-left: 7vw;
        font-size: 1.5vw;
    }

}
