:root {
    --main-background-color: rgb(255, 255, 255);
    --d-d-menu-color: rgb(166, 22, 22);
    --main-button-border-color: rgb(253, 80, 172);
    --main-button-text-color: rgb(255, 0, 136);
    --main-border-color: rgba(236, 178, 216, 0.958);
}

body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: var(--main-background-color);
    margin: 0px;
    padding: 0px;
}

.background-image {
    background-image: url(background-pictures/red-blue-wave-background.jpg);
    background-size: 100%;
    height: 75vw;
    width: 100%;
    background-repeat: no-repeat;
}

.drop-down-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
}

.logo {
    height: 150px;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}


.drop-down-menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px;
    margin-top: 8;
    list-style: none;
    background-color: transparent;


}

.drop-down {
    padding: 15px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);

}

.drop-down:hover {
    background-color: rgba(183, 0, 97, 0.703);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
a {
    color: rgb(50, 12, 52);
}


.main-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-button {
    font-size: 2vw;
    align-self: center;
    position: absolute;
    padding: 8px 13px;
    height: 8vw;
    width:100%;
    background-color: rgba(0, 0, 0, 0.549);
    color: var(--main-button-text-color);
    border: 2px dotted var(--main-button-border-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    top:55%;

    
}

.main-button:hover {
    background-color: rgba(0, 0, 0, 0.469);
    color: white;
    border-color: white;
    transform: scale(1.0);
}

.main-button:active { 
    transform: scale(1.0);
}

.welcome-link {
    text-decoration: none;
}


.divider {
    padding-top:10px;
    padding-bottom: 10px;
    background-color:black;
    width:100%;
}

.picture-frame-container {
    padding: 40px 20px;
    height: 50vw;
    width: 100%;
    background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.template-header-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: conic-gradient(
        from 0deg, 
        rgb(0, 0, 0), /* Vibrant pink */
        rgb(255, 0, 149), /* Turquoise */
        rgb(0, 0, 0), /* A deeper turquoise */
        rgb(24, 66, 255), /* Repeat the vibrant pink */
        rgb(0, 0, 0) /* A soft, light blue that blends well with turquoise */
    );
    

}

.templates-header {
    font-size: larger;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    background-color: transparent;
    border-color: transparent;
    color: white
}

.templates-header:hover {
    transform: scale(1.2);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.templates-header:active {
    transform: scale(1.0);
    color: #000000;
}

.slider-space {
    display: flex;
    flex-direction: row;
    position: relative;
}

.slider-space area {
    padding: 50px;
    background-color: aquamarine;
}

.slider {
    align-self: center;
    position: absolute;
    width: 95%;
    opacity: 1;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name:fade;
    animation-duration: 1.5s
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    color: var(--main-button-text-color);
    border: none;
    cursor: pointer;
}

.previous {
    font-size: 2rem;
    padding: 10px 10px 10px 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.previous:hover{
    background-color: #000000;
}

.next {
    right: 0;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.next:hover{
    background-color: #000000;
}

.plus {
    margin-left: 47%;
    border-radius: 200px;
    width: 55px;
    height: 55px;
    font-size: 3rem;
    background-color: black;
}


.enlarged {
    position: fixed;
    transform: scale(1.0);
    /* Scale up the entire slider */
    width: 95vw;
    /* Ensure the width adjusts automatically */
    left: 500;
    top: 50px;
    opacity: 1;
    z-index: 1;
}

.enlarged .next {
    padding: 5px;
    border-radius: 5px;
    top: 300px;
}

.enlarged .next:hover {
    background-color: #000000;
}

.enlarged .previous:hover {
    background-color: #000000;
}

.enlarged .previous {
    padding: 5px;
    border-radius: 5px;
    top: 300px;
}

#xButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: rgb(0, 0, 0);
    color: var(--main-button-text-color);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 3px;
    padding-top: 0px;
    padding-left: 7px;
    padding-right:7px;
    padding-bottom:2px;
    opacity: 0.5;
}

#xButton:hover {
    opacity: 1;
}

.enlarged #xButton {
    display: block;
}

.enlarged img.displaySlide {
    animation: none;
}

@keyframes fade {
    from {
        opacity: 0.5
    }

    to {
        opacity: 1;
    }
}
#plusButton.plus {
    display:none;
}

.button-box{
    padding: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
    border-top: 3px solid var(--main-border-color);;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: rgb(53, 54, 53);
    height: 350px;
    border-top: 2px solid var(--main-button-text-color);
    border-bottom: 2px solid white;
    color: white;
    background-color: rgb(0, 0, 0);
    position: relative;

}

.head-info-box-labels {
    display: flex;
    flex-direction: row;
    justify-content:left;
    letter-spacing: 5px;
    color: white;
    text-decoration: overline;
    width: auto;
    position: relative;
}

.info-box-labels {
    margin-top: 30px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-bottom: 3px;
    position: relative;
}

.info-box-buttons {
    padding: 20px;
    background-color: var(--main-button-text-color);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 120px;
    position: relative;
}

.linked-in-container {
    padding-left:20px;
    padding-top:10px;
    padding-bottom:20px;
    background-color: rgb(0, 0, 0);

}

.social-icon {
    font-size: 36px; /* Adjust the size of the icon */
    color: #fff; /* Icon color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Space around the icon */
    border-radius: 50%; /* Rounded background */
    background-color: #0077b5; /* LinkedIn's brand color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.si-linkedin:hover {
    color: #0077b5; /* Change icon color on hover */
    background-color: #fff; /* Change background on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Slightly darker shadow on hover */
}

.si-rounded {
    border-radius: 20%; /* Rounded shape */
}

.si-small {
    font-size: 20px;
    padding-top:4px;
    padding-left:7px;
    padding-bottom:5px;
    padding-right:7px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
}

@media only screen and (min-width: 319px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black -3%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 100%);
    }
    .background-image {
        height: 60vw;
    }
    .main-button {
        font-size: 3vw;
        height: 12vw;
        width:100%;
        top:25%;
    }
    .templates-header{
        font-size: 12px;
    }
    .picture-frame-container{
        height: 250px;
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}

@media only screen and (min-width: 344px) and (min-height:882px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black -3%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 100%);
    }
    .background-image {
        height: 45vh;
    }
    .main-button{
        top:35%;
        width:100%;
    }
    .templates-header{
        font-size: 12px;
    }
    .picture-frame-container{
        height: 250px;
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}
/*Samsung Galaxy S8+*/
@media only screen and (min-width: 360px) and (min-height:666px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 7%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 93%);
    }
    .background-image {
        height: 65vh;
    }
    .main-button{
        top:35%;
        width:100%;
        border-radius: 0px;
    }
    .templates-header{
        font-size: 12px;
    }
    .picture-frame-container{
        height: 250px;
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}

/*Iphone SE*/
@media only screen and (min-width: 375px) and (max-height:667px){
    body{
        font-size: 14px;
        font-weight:700;
    }
    .logo {
        height: 50px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
    }
    .drop-down {
        padding: 10px;
    }
    .background-image{
        height: 30vh;
    }
    .main-button{
        font-size: 2vw;
        top:30%;
        height: 10vw;
        width: 100%;
    }
    .picture-frame-container{
        height: 55vw;
    }
    .template-header-container{
        font-size: 10px;
    }
    
    .info-box {
        height: 350px;
    }
    footer {
        font-size: 8px;
        padding: 1px;
    }

}
/*iPhone 14 Pro Max*/
@media only screen and (min-width: 414px) and (min-height:932px){
    body{
        font-size: 16px;
        font-weight:700;
    }
    .logo {
        height: 50px;
    }
    .background-image {
        height: 65vh;
    }
    .main-button{
        top: 40%;
        width: 100%;
    }
    .picture-frame-container{
        height: 26rem;
    }
    footer {
        font-size: 8px;
        padding: 1px;
    }
}
@media only screen and (min-width: 414px) and (height: 932px){
    .picture-frame-container{
        height: 16rem;
    }
    
}

@media only screen and (min-width: 540px) and (height: 720px){
    .picture-frame-container{
        height: 20rem;
    }
    
}


/*Ipad Mini*/
@media only screen and (min-width: 650px) and (max-height:1179px){
    body{
        font-size: 20px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
    
    .picture-frame-container{
        height: 30rem;
    }

    
}
/*Ipad Air*/
@media only screen and (min-width: 820px) and (min-height: 1180px){
    body{
        font-size: 22px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
    .picture-frame-container{
        height: 30rem;
    }
}

@media only screen and (min-width: 1024px) and (height: 600px){
    body{
        font-size: 20px;
    }
    .background-image{
        height: 60vh;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 2%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 98%);
    }
    .logo{
        height: 30%;
    }
    .main-button{
        top: 45%;
        width:100%;
    }
    .drop-down {
        padding: 30px;
    }
    .picture-frame-container{
        height: 35rem;
    }
    
    #plusButton.plus {
        display:none;
    }

}
@media only screen and (min-width: 1280px) and (height: 800px){
    .picture-frame-container{
        height: 85vh;
    }
    .background-image{
        height: 70vh;
    }
    .main-button{
        top: 45%;
        width:100%;
    }
}

/*Ipad Air*/
@media only screen and (min-width: 1440px) and (height: 618px){
    body{
        font-size: 23px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 2%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 98%);
    }
    .background-image{
        height: 62vh;
    }
    .main-button{
        top:55%;
        width:100%;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
    .picture-frame-container{
        height: 42rem;
    }
    .slider {
        width: 80%;
    }
    footer{
        font-size:12px;
    }
}

@media only screen and (min-width: 1600px) and (min-height: 700px){
    .picture-frame-container{
        height: 85vh;
    }
    .background-image{
        height: 70vh;
    }
    .main-button{
        top: 45%;
        font-size: 2vw;
        height: 120px;
        width:100%;
    }
}

@media only screen and (min-width: 2000px) and (min-height: 700px){
    .picture-frame-container{
        height: 85vh;
    }
    .background-image{
        height: 70vh;
    }
    .main-button{
        top: 40%;
        height: 135px;
        border: 3px dotted;
        width:100%;
    }
    .templates-header{
        font-size: 25px;
    }
}


@media only screen and (min-width: 980px) {
    .picture-frame-container {
        height: 50vw;
    }
}

@media only screen and (max-width: 319px) {
    body {
        font-size: 3vw;
    }
    .drop-down{
        padding: 2vw;
    }
    .logo {
        height: 15vw;
    }
    .background-image{
        height:60vw;
    }
    .divider{
        height: 1vw;
    }
    .main-button {
        font-size: 3.5vw;
        align-self: center;
        position: absolute;
        padding: 8px 13px;
        height: 25vw;
        width:100%;
        background-color: rgba(0, 0, 0, 0.549);
        color: var(--main-button-text-color);
        border: 2px dotted var(--main-button-border-color);
        text-transform: uppercase;
        letter-spacing: 3px;
        top:14%;
    }
    .picture-frame-container{
        height: 50vw;
    }
    .next{
        font-size: 2vw;
        padding:2vw;
    }
    .previous{
        font-size: 2vw;
        padding: 2vw;
    }
}

@media only screen and (min-width: 1500px){
    .drop-down{
        padding-left: 7vw;
        font-size: 1.5vw;
    }

}

@media only screen and (max-width: 319px) {
    body {
        font-size: 3vw;
    }
    .drop-down{
        padding: 2vw;
    }
    .logo {
        height: 15vw;
    }
}




