:root {
    --main-background-color: rgb(255, 255, 255);
    --d-d-menu-color: rgb(166, 22, 22);
    --main-button-border-color: rgb(253, 80, 172);
    --main-button-text-color: rgb(255, 0, 136);
    --main-border-color: rgba(236, 178, 216, 0.958);
}

body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: var(--main-background-color);
    margin: 0px;
    padding: 0px;
}

.drop-down-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border-bottom: 3px solid rgba(236, 178, 216, 0.958);
    background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
}

.logo {
    height: 150px;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}


.drop-down-menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px;
    margin-top: 8;
    list-style: none;
    background-color: transparent;


}

.drop-down {
    padding: 15px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);

}

.drop-down:hover {
    background-color: rgba(183, 0, 97, 0.703);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

.portfolio-header-div {
    padding: 20px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px dotted var(--main-button-text-color);
}

.portfolio-header {
    text-align: center;
}

.picture-frame-container {
    padding: 80px 20px 80px 20px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    perspective: 1500px;
}

.picture-frames {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 350px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    position: relative;
}

#frame-one {
    transform: rotateX(-10deg) rotateY(18deg) rotateZ(0deg);
    box-shadow: 10px 5px 30px hsla(0, 0%, 0%, 0.2);
    border-radius: .25em;
    transition: 0.6s;
}

#frame-two {
    transform: rotateX(-15deg) scale(1.08);
    box-shadow: 10px 10px 30px hsla(0, 0%, 0%, 0.2);
    border-radius: .25em;
    transition: 0.6s;
}

#frame-three {
    transform: rotateX(-10deg) rotateY(-18deg) rotateZ(0deg);
    box-shadow: -10px 5px 30px hsla(0, 0%, 0%, 0.2);
    border-radius: .25em;
    transition: 0.6s;
}


#frame-one:hover {
    transform: rotate(0);
    box-shadow: 0px 0px 0px white;
}

#frame-two:hover {
    transform: rotate(0);
    box-shadow: 0px 0px 0px white;
}

#frame-three:hover {
    transform: rotate(0);
    box-shadow: 0px 0px 0px white;
}

.frame-text-container {
    padding: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    top: 0px;
}



.frame-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 350px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.649);
    margin-top: 25px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    line-height: 22px;
}

.button-box{
    padding: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
    border-top: 3px solid var(--main-border-color);;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: rgb(53, 54, 53);
    height: 350px;
    border-top: 2px solid var(--main-button-text-color);
    color: white;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.head-info-box-labels {
    display: flex;
    flex-direction: row;
    justify-content:left;
    letter-spacing: 5px;
    color: white;
    text-decoration: overline;
    width: auto;
    position: relative;
}

.info-box-labels {
    margin-top: 30px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-bottom: 3px;
    position: relative;
}

.info-box-buttons {
    padding: 20px;
    background-color: var(--main-button-text-color);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 120px;
    position: relative;
}

.linked-in-container {
    padding-left:20px;
    padding-top:10px;
    padding-bottom:20px;
    background-color: rgb(0, 0, 0);

}

.social-icon {
    font-size: 36px; /* Adjust the size of the icon */
    color: #fff; /* Icon color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Space around the icon */
    border-radius: 50%; /* Rounded background */
    background-color: #0077b5; /* LinkedIn's brand color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.si-linkedin:hover {
    color: #0077b5; /* Change icon color on hover */
    background-color: #fff; /* Change background on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Slightly darker shadow on hover */
}

.si-rounded {
    border-radius: 20%; /* Rounded shape */
}

.si-small {
    font-size: 20px;
    padding-top:4px;
    padding-left:7px;
    padding-bottom:5px;
    padding-right:7px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
}

@media only screen and (min-width: 319px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black -3%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 100%);
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}

@media only screen and (min-width: 344px) and (min-height:882px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black -3%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 100%);
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}
/*Samsung Galaxy S8+*/
@media only screen and (min-width: 360px) and (min-height:666px){
    body{
        font-size:13px;
        font-weight: 600;
    }
    .logo{
        height: 50px;
    }
    .drop-down {
        padding:10px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 7%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 93%);
    }
    .info-box{
        height: 350px;
    }
    footer {
        font-size: 9px;
    }
}

/*Iphone SE*/
@media only screen and (min-width: 375px) and (max-height:667px){
    body{
        font-size: 14px;
        font-weight:700;
    }
    .logo {
        height: 50px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 10%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 90%);
    }
    .drop-down {
        padding: 10px;
    }
    .info-box {
        height: 350px;
    }
    footer {
        font-size: 8px;
        padding: 1px;
    }

}
/*iPhone 14 Pro Max*/
@media only screen and (min-width: 414px) and (min-height:932px){
    body{
        font-size: 16px;
        font-weight:700;
    }
    .logo {
        height: 50px;
    }
    footer {
        font-size: 8px;
        padding: 1px;
    }
}


/*Ipad Mini*/
@media only screen and (min-width: 650px) and (max-height:1179px){
    body{
        font-size: 20px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
}
/*Ipad Air*/
@media only screen and (min-width: 820px) and (min-height: 1180px){
    body{
        font-size: 22px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
}

@media only screen and (min-width: 1024px) and (height: 600px){
    body{
        font-size: 20px;
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }

}

/*Ipad Air*/
@media only screen and (min-width: 1440px) and (height: 618px){
    body{
        font-size: 23px;
    }
    .drop-down-menu-div {
        background-image: linear-gradient(to right, black 2%, var(--main-button-text-color) 40%, var(--main-button-text-color), black 98%);
    }
    .logo{
        height: 30%;
    }
    .drop-down {
        padding: 30px;
    }
}

@media only screen and (max-width: 319px) {
    body {
        font-size: 3vw;
    }
    .drop-down{
        padding: 2vw;
    }
    .logo {
        height: 15vw;
    }
}

@media only screen and (min-width: 1500px){
    .drop-down{
        padding-left: 7vw;
        font-size: 1.5vw;
    }

}
.Ally-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}
.Ally {
    font-size: 116px;
    padding:20px;
    background-color:black;
    color: cadetblue;
    text-align: center;
    text-transform: capitalize;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;

}

.Ally:hover {
    transform: scale(1.05);
}

.Ally:active {
    background-color: #000000;
    transform: scale(1);
}